@charset "UTF-8";

@import url();
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #0694da;
    color: #fff;
    text-align: center;
    padding: 20px ;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

nav {
    background-color: #003d52;
    text-align: center;
    padding: 10x;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 5.2em;
}


/* Estilo para as seções de conteúdo */
section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #006d77;
}

section p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    background-color: #003d52;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

footer p {
    font-size: 1em;
}

/* Estilo para links importantes */
nav{
    background-color: #120593;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.193);
    }
    
    nav>a{
    color: #eaeaf4;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    }
    nav>a:hover{
    background-color:#2f18c1;
    color: #8eb2c5;
    }